<table lib-table [dataSource]="dataSource">
  <!-- Position Column -->
  <ng-container libColumnDef="position">
    <th lib-header-cell *libHeaderCellDef> No. </th>
    <td lib-cell *libCellDef="let element"> {{element.position}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container libColumnDef="name">
    <th lib-header-cell *libHeaderCellDef> Name </th>
    <td lib-cell *libCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container libColumnDef="weight">
    <th lib-header-cell *libHeaderCellDef> Weight </th>
    <td lib-cell *libCellDef="let element"> {{element.weight}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container libColumnDef="symbol">
    <th lib-header-cell *libHeaderCellDef> Symbol </th>
    <td lib-cell *libCellDef="let element"> {{element.symbol}} </td>
  </ng-container>

  <ng-container libColumnDef="delete">
    <th lib-header-cell *libHeaderCellDef> Delete </th>
    <td lib-cell *libCellDef="let element">  <button class="btn">delete</button> </td>
  </ng-container>

  <tr lib-header-row *libHeaderRowDef="displayedColumns"></tr>
  <tr lib-row *libRowDef="let row; columns: displayedColumns;"></tr>
</table>

<lib-table><ng-content></ng-content></lib-table>
